<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
          <form>
        <table >
<tr><td colspan="2"><h1>Connexion</h1></td></tr>
<tr><td>firstname:</td><td><input type="text" required class="form-control" name="fn"></td></tr>
<tr><td>lastname:</td><td><input type="text" class="form-control" name="ln"></td></tr>
<tr><td colspan="2"><input type="submit" value="se connecter" class="btn btn-primary"> </td></tr>

        </table></form>
        <ul>
<li *ngFor="let cs of costumers">
    
    {{cs.id}}
</li>

        </ul>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
